.close-btn {
  position: absolute;
  top: 10px;
  right: 16px;
  background: red;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

h1, h2, .info_about_me {
  align-items: center;
  font-family:  'Compressa VF' ;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.basic_info, .linkedin, .instagram, .x {
  display: flex;
  padding: 20px;
  align-items: center;
  background-color: #222222;
  gap: 10px;
  margin: 10px;
  border-radius: 20px;
}

/* {
  max-width: 110px !important;
  border-radius: 50%;
} */

h2, .info_about_me{
  padding: 15px;
}

.info_about_me {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.info_img {
  max-width: 100px;
}